@use "../styles/reset_v2.5" as *;
@use "../styles/variable" as *;
body {
    background-color: #f8f8f8;
    font-family: 'Arial', sans-serif;
    font-feature-settings: "palt";
    font-size: clamp(1.2rem, calc($base-vw * 1vw) + calc($slice * 1px), 1.6rem);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    main {
        font-size: inherit;
        padding: 5rem;
        flex: 1;
        div {
            font-size: inherit;
            h1 {
                font-size: FZ(36);
                text-transform: uppercase;
                font-weight: 700;
                color: rgb(47, 58, 177);
            }
            p {
                font-size: FZ(16);
            }
        }
    }
}